aiokafka~=0.7.1
asyncio~=3.4.3
cassandra-driver~=3.25.0
aiocassandra~=2.0.1
flask~=2.0.1
flask-sqlalchemy
flask-login
werkzeug
pandas~=1.2.5
dash==1.12.0
gunicorn==19.9.0
Faker~=8.8.2
numpy~=1.21.0
mysql-connector-python~=8.0.25
pip~=21.2.4
wheel~=0.34.2
Brotli~=1.0.9
django-request~=1.5.6
cryptography~=2.8
py~=1.10.0
keyring~=18.0.1
setuptools~=57.0.0
plotly~=4.11.0
pytest~=6.2.4
confluent-kafka==0.11.4
