<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <link rel="stylesheet" href="./static/lib/css//bootstrap.min.css">
  <link rel="stylesheet" href="./static/lib/css/keen-dashboards.css">
  <link rel="stylesheet" href="./static/lib/css/dc.min.css">
  <link rel="stylesheet" href="./static/lib/css/leaflet.css">
  <link rel="stylesheet" href="./static/css/custom.css">
  


</head>
<body class="application">

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="./">Realtime Healthcare Analytics</a>
      </div>
    </div>
  </div>

  <div class="container-fluid">

    <div class="row">

      <div class="col-sm-6">
        <div class="row">

          <!-- Time Chart --> 
          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Sensor Reading Timeline
              </div>
              <div class="chart-stage">
                <div id="time-chart"></div>
              </div>
            </div>
          </div>
          <!-- Time Chart --> 

          <!-- Patient Condition -->
          <div class="col-sm-6">
            <div class="chart-wrapper">
              <div class="chart-title">
                Patient Condition
              </div>
              <div class="chart-stage">
                <div id="condition-row-chart"></div>
              </div>
            </div>
          </div>

          <!--Patient Condition-->
          <div class="col-sm-6">
            <div class="row">
            <!-- Status -->
            <div class="col-sm-12">
              <div class="chart-wrapper">
                <div class="chart-title">
                  Health Status
                </div>
                <div class="chart-stage">
                  <div id="status-row-chart"></div>
                </div>
              </div>
            </div>
            </div>
            <!-- Status -->

            <!-- Gender -->
            <div class="row">
            <!-- Gender -->
            <div class="col-sm-12">
              <div class="chart-wrapper">
                <div class="chart-title">
                  Gender
                </div>
                <div class="chart-stage">
                  <div id="gender-row-chart"></div>
                </div>
              </div>
            </div>
            </div>
            <!-- Gender -->

            <!-- bloodpressure -->
            <div class="row">
              <!-- bloodpressure -->
              <div class="col-sm-12">
                <div class="chart-wrapper">
                  <div class="chart-title">
                    Blood Pressure
                  </div>
                  <div class="chart-stage">
                    <div id="bloodpressure-segment-row-chart"></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- bloodpressure -->



            <!-- Temperature -->
            <div class="row">
              <!-- Temperature -->
              <div class="col-sm-12">
                <div class="chart-wrapper">
                  <div class="chart-title">
                    Temperature
                  </div>
                  <div class="chart-stage">
                    <div id="temperature-segment-row-chart"></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Temperature -->


            <!-- Heartrate -->
            <div class="row">
              <!-- Heartrate -->
              <div class="col-sm-12">
                <div class="chart-wrapper">
                  <div class="chart-title">
                    Heart Rate
                  </div>
                  <div class="chart-stage">
                    <div id="heartrate-segment-row-chart"></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Heartrate -->

            <!-- BloodSugar -->
            <div class="row">
              <!-- BloodSugar -->
              <div class="col-sm-12">
                <div class="chart-wrapper">
                  <div class="chart-title">
                    Blood Sugar
                  </div>
                  <div class="chart-stage">
                    <div id="bloodsugar-segment-row-chart"></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- blood sugar -->

            <!-- Patient Age-->
            <div class="row">
            <div class="col-sm-12">
              <div class="chart-wrapper">
                <div class="chart-title">
                  Patient Age
                </div>
                <div class="chart-stage">
                  <div id="age-segment-row-chart"></div>
                </div>
              </div>
            </div>
            <!-- Patient Age -->
          </div>
          </div>


        </div>
      </div>


      <div class="col-sm-2">
        <div class="row">

          <!-- Dublin Area Code -->  
          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Dublin Area Code
              </div>
              <div class="chart-stage">
                <div id="location-row-chart"></div>
              </div>
            </div>
          </div>
          <!-- Dublin Area Code -->  
        </div>
      </div>


      <div class="col-sm-4">

        <div class="row">
          <!-- Map -->  
          <div class="col-sm-12"> 
            <div class="chart-wrapper">
              <div class="chart-title">
                Map of Sensors
              </div>
              <div class="chart-stage">
                <div id="map" style="width: 400px; height: 380px"></div>
              </div>
            </div>
          </div>
          <!-- Map -->  
        </div>

        <div class="row">
          <!-- Number of Sensor readings -->
          <div class="col-sm-8">
            <div class="chart-wrapper">
              <div class="chart-title">
                Number of Sensor Readings
              </div>
              <div class="chart-stage">
                <div id="number-records-nd"></div>
              </div>
            </div>
          </div>
          <!-- Number of Sensor readings  -->
        </div>

        <div class="row">



      </div>
          <!-- BMI -->
          <div class="col-sm-6">
            <div class="chart-wrapper">
              <div class="chart-title">
                BMI Status
              </div>
              <div class="chart-stage">
                <div id="bmi-row-chart"></div>
              </div>
            </div>
          </div>
          <!--BMI-->
    </div>

  </div>

  <hr>

  <script src="./static/lib/js/jquery.min.js"></script>
  <script src="./static/lib/js/bootstrap.min.js"></script>
  <script src="./static/lib/js/underscore-min.js"></script>
  <script src="./static/lib/js/crossfilter.js"></script>
  <script src="./static/lib/js/d3.min.js"></script>
  <script src="./static/lib/js/dc.min.js"></script>
  <script src="./static/lib/js/queue.js"></script>
  <script src="./static/lib/js/leaflet.js"></script>
  <script src="./static/lib/js/leaflet-heat.js"></script>
  <script src="./static/lib/js/keen.min.js"></script>
  <script src='./static/js/graphs.js' type='text/javascript'></script>


</body>
</html>
